<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	
	<!-- http://hibernate.org/dtd/ -->
	<session-factory>
		<property name="hibernate.connection.url">jdbc:hsqldb:mem:labdatatables</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>		
			
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		<!-- validate | update | create | create-drop -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<mapping class="br.com.willianantunes.labdatatables.model.User" />				
	</session-factory>

</hibernate-configuration>
	