<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>labs-datatables-vraptor</display-name>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>messages</param-value>
  </context-param>
  <context-param>
    <param-name>br.com.caelum.vraptor.encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <error-page>
    <error-code>503</error-code>
    <location>/503.jsp</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/501.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/405.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/403.jsp</location>
  </error-page>
  <jsp-config>
    <jsp-property-group>
      <display-name>views</display-name>
      <url-pattern>*.jsp</url-pattern>
      <include-coda>/WEB-INF/jsp/coda.jspf</include-coda>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>*.jspf</url-pattern>
      <el-ignored>false</el-ignored>
    </jsp-property-group>
  </jsp-config>
  <listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
  </listener>
</web-app>